In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('Extras1T2020.csv')

In [3]:
data.head()

   Unnamed: 0  Número da reserva Despesa Hóspedes               Tipo
0         NaN            4108221       R$  74,00              Outros
1         NaN            4586830       R$  86,00         Restaurante
2         NaN            4564422      R$  211,00         Restaurante
3         NaN            4552456      R$  213,00   Serviço de quarto
4         NaN            4569582      R$  137,00   Serviço de quarto

In [0]:
data = data.drop(columns=['Unnamed: 0'], axis=1)

In [5]:
data

     Número da reserva Despesa Hóspedes               Tipo
0              4108221       R$  74,00              Outros
1              4586830       R$  86,00         Restaurante
2              4564422      R$  211,00         Restaurante
3              4552456      R$  213,00   Serviço de quarto
4              4569582      R$  137,00   Serviço de quarto
..                 ...              ...                ...
122            4277732      R$  134,00              Outros
123            4570619      R$  187,00         Restaurante
124            4570672      R$  103,00   Serviço de quarto
125            4277740      R$  240,00              Outros
126            4586714      R$  243,00              Outros

[127 rows x 3 columns]

In [6]:
j = 0
for dado in data['Despesa Hóspedes']:
  dado = dado.replace('R$', '')
  dado = dado.replace(' ', '')
  dado = dado.replace(',','.')
  data['Despesa Hóspedes'][j] = float(dado)
  j += 1

data['Despesa Hóspedes']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0       74
1       86
2      211
3      213
4      137
      ...
122    134
123    187
124    103
125    240
126    243
Name: Despesa Hóspedes, Length: 127, dtype: object

In [7]:
data.head()

   Número da reserva Despesa Hóspedes               Tipo
0            4108221               74             Outros
1            4586830               86        Restaurante
2            4564422              211        Restaurante
3            4552456              213  Serviço de quarto
4            4569582              137  Serviço de quarto

In [0]:
data.to_csv('Extras4T2020.csv')